@import '~@angular/material/theming';
@include mat-core();

//tema de colores # 1
$tema1-primary: mat-palette($mat-blue-grey);
$tema1-accent: mat-palette($mat-pink, 500, 900, A100);
$tema1-warn: mat-palette($mat-deep-orange);

$tema1: mat-light-theme(
  $tema1-primary,
  $tema1-accent,
  $tema1-warn
); 

