
      <div class="bd-example">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/imagenes/cta2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block catchphrase">
                    <h2 class="titulo" style="font-size: 20px">SITIOS REALES, ANFITRIONES CONFIABLES</h2>
                    <h3 class="titulo s">HUESPEDES AFABLES</h3>
                    <h2 class="titulo" style="font-size: 16px">BUSCA TU LUGAR AHORA</h2>
                    <button mat-raised-button color="primary" routerLink="/registro">Unetenos!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
<div class="container" style="width: 100%;">
    <div id="rentalListing">
        <h1 class="titulo" style="margin-top:20px;">Tu Casa Alrededor de México</h1>
        <div *ngIf = "cargando" class="col-sm">
          <mat-spinner></mat-spinner>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam rem tenetur tempora est facere dolores voluptatibus recusandae fugit beatae dolorum nam voluptas quos eum odit, perspiciatis fugiat porro, magnam asperiores!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero laborum recusandae adipisci sunt autem, doloribus necessitatibus ducimus incidunt optio vel dignissimos nemo itaque nihil consectetur eos facilis minima? Magnam, similique!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, et odio. Voluptatibus aliquid delectus quod et ab, voluptas esse officiis adipisci. Porro accusantium ex ipsum recusandae architecto, rerum quo nulla?
          </div>
        <div class="row">
          <div class='col-md-3 col-xs-6' *ngFor = "let alquiler of alquileres" >
            <app-lista-alquileres-item [alquilerActual] = "alquiler"></app-lista-alquileres-item>
            
          </div>
        </div>
      </div>
      <div *ngIf = "error" routerLink="/alquileres">
      {{error}}
      </div>
</div>
    
