<div *ngIf = "cargando" class="loader">
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div class="container registration-form" id="">
  <div  class="image2"> <p class="frase">Los mejores lugares de Mexico a tu alcance</p> </div>
  <div class="frm">
      <h1>Registrarse</h1>
      <form #formularioRegistro = "ngForm">
        <div class="form-group">
          <mat-form-field class="full-width">
            <input  [(ngModel)] = "formDatos.username"
                    #username = "ngModel"
                    required minlength = "4"
                    appForbiddenName="admin"
                    name = "username"
                    class = "form-controlss"
                    id = "username"
                    matInput 
                    type="text" 
                    placeholder="Username" required>
            <mat-hint>Ingresa un username</mat-hint>
          </mat-form-field>
          <div *ngIf="username.invalid && (username.dirty || username.touched)" 
                class="alert alert-danger alertas" role="alert">
            <div *ngIf="username.errors.required">
              Username es un campo obligatorio.
            </div>
            <div *ngIf="username.errors.minlength">
              Username debe contener al menos 4 caracteres.
            </div>
            <div *ngIf="username.errors.forbiddenName">
              Username no puede ser admin o administrador.
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
            <input  [(ngModel)] = "formDatos.email"
                    #email = "ngModel"
                    name = "email"
                    class="form-controlss"
                    type="email"
                    id="email" 
                    placeholder="Correo electronico"
                    matInput
                    required>
            <mat-hint>Ingresa un correo electronico valido</mat-hint>
          </mat-form-field>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger alertas" role="alert">
            <div *ngIf="email.errors.required">
              El correo electronico es un campo obligatorio.
            </div>
          </div>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input  matInput
                        placeholder="Nombre"
                        [(ngModel)] = "formDatos.nombre"
                        #nombre = "ngModel"
                        name = "nombre"
                        appForbiddenName="admin"
                        id="nombre"
                        type="text"
                        required>
                <mat-hint>Ingresa tu nombre completo</mat-hint>
              </mat-form-field>
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                class="alert alert-danger alertas" role="alert">
            <div *ngIf="nombre.errors.required">
              El nombre real es un campo obligatorio.
            </div>
            <div *ngIf="nombre.errors.forbiddenName">
              El nombre no puede ser admin o administrador.
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
            <input  matInput
                    type = "text" 
                    name = "apepat"
                    placeholder="Apellido paterno" 
                    id = "apepat"
                    #apepat = "ngModel"
                    [(ngModel)] = "formDatos.apepat"
                    required maxlength="30" required>
            <mat-hint>Ingresa tu apellido paterno</mat-hint>
          </mat-form-field>
          
          <div *ngIf="apepat.invalid && (apepat.dirty || apepat.touched)"
                class="alert alert-danger alertas" role="alert">
            <div *ngIf="apepat.errors.required">
              El apellido paterno es un campo obligatorio.
            </div>
            <div *ngIf="apepat.errors.maxlength">
              Apellido demasiado largo.
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
              <input  type="text"
                      matInput
                      placeholder="Apellido materno"
                      [(ngModel)] = "formDatos.apemat"
                      #apemat = "ngModel"
                      required maxlength="30"
                      name = "apemat"
                      class="form-controlss"
                      id="apemat" required>
              <mat-hint>Ingresa tu apellido materno</mat-hint>
          </mat-form-field>
          <div *ngIf="apemat.invalid && (apemat.dirty || apemat.touched)" class="alert alert-danger alertas" role="alert">
            <div *ngIf="apemat.errors.maxlength && (apemat.dirty || apemat.touched)" class="alert alert-danger alertas" role="alert">
              Apellido demasiado largo.
            </div>
            <div *ngIf="apemat.errors.required">                                              
              El apellido materno es un campo obligatorio.
            </div>
          </div>
            <div class="alert alert-warning alert-dismissible fade show alertas" role="alert">
                En caso de no tener un apellido ya sea paterno o materno llena este campo con una <strong>x</strong>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
              <input  type="text"
                      matInput
                      [(ngModel)] = "formDatos.edad"
                      #edad = "ngModel"
                      name = "edad"
                      required pattern="^\d+$"
                      class="form-controlss"
                      id="edad"
                      placeholder="Edad"
                      required>
              <mat-hint>Ingresa tu edad</mat-hint>
          </mat-form-field>
          
          <div *ngIf="edad.invalid && (edad.dirty || edad.touched)"
                class="alert alert-danger alertas" role="alert">
            <div *ngIf="edad.errors.required">
              La edad es un campo obligatorio.
            </div>
            <div *ngIf="edad.errors.pattern">
                Este campo solo debe contener numeros.
              </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
              <input  type="password"
                      [(ngModel)] = "formDatos.contrasena"
                      matInput
                      placeholder="Contraseña"
                      #contrasena = "ngModel"
                      required minlength="8"
                      required pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$"
                      name = "contrasena"
                      class="form-controlss"
                      id="contrasena"
                      required>
              <mat-hint>Ingresa una contraseña que cumpla con los requisitos</mat-hint>
          </mat-form-field>
          <div class="alert alert-success alert-dismissible fade show alertas" role="alert" id="alerta-requisitos">
            <h4 class="alert-heading">Requisitos de contraseña
              <button type="button"  class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </h4>
            <hr>
            <p class="mb-0"><span aria-hidden="true">1.- </span> Debe contar con minimo una letra mayuscula</p>
            <p class="mb-0"><span aria-hidden="true">2.- </span> Debe contar con minimo una letra minuscula</p>
            <p class="mb-0"><span aria-hidden="true">3.- </span> Debe contar con minimo un numero</p>
            <p class="mb-0"><span aria-hidden="true">4.- </span> Debe tener minimo 8 caracteres</p>
          </div>
           <div *ngIf = "contrasena.valid"></div>
        </div>
        <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)"
                class="alert alert-danger alertas" role="alert">
            <div *ngIf="contrasena.errors.required">
              La contraseña es un campo obligatorio.
            </div>
            <div *ngIf = "contrasena.errors.pattern">
                La contraseña debe cumplir con los requisitos anteriormente establecidos
              </div>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
              <input  type="password"
                      placeholder="Confirmar contraseña"
                      matInput
                      [(ngModel)] = "formDatos.confirmacionContra"
                      name = "confirmacionContra"
                      class="form-controlss"
                      id="confirmacionContra"
                      required>
          </mat-form-field>          
        </div>
        <button mat-raised-button color="primary" [disabled] = "!formularioRegistro.form.valid" (click) = "registrarDatos()" type="submit">Registrarse</button>
      </form>
  </div>
</div>
<div style="margin-top:0%">
.
</div>
