<div [class]="temaActual" style="height: 100%;">
        <header-component></header-component>
        <router-outlet></router-outlet>
        <mat-card>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="accent">Accent</button>
                <button mat-raised-button color="warn">Warn</button>
              </mat-card> <br>
              <mat-card>
                  <h4>Basic mat-select</h4>
                  <mat-form-field>
                      <mat-label>Favorite food</mat-label>
                      <mat-select [(ngModel)]="temaActual">
                        <mat-option value="tema1">Tema 1</mat-option>
                        <mat-option value="tema2">Tema 2</mat-option>
        
                      </mat-select>
                  </mat-form-field> 
        </mat-card>
    </div>
