<div *ngIf = "cargando" class="loader">
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <mat-spinner class="spinner"></mat-spinner>
</div>
  <div class="container registration-form" id="">
    <div  class="image"> <p class="frase">Los mejores lugares de Mexico a tu alcance</p> </div>
    <div class="frm2">
      <h1>Iniciar sesión</h1>
      <form [formGroup] = "loginForm" (ngSubmit) = "login()">
        <div class="form-group">
                          <mat-form-field class="full-width" style="margin-bottom: 2%;">
                              <input  matInput 
                                      placeholder="Correo electronico"
                                      formControlName = "email"
                                      class="form-controlss"
                                      type="email"
                                      id="email">
                              <mat-hint>Ingresa tu email registrado</mat-hint>
                            </mat-form-field>
                            <div *ngIf="entradaInvalida('email')" class="alert alert-danger alertas" role="alert" id="alerta1">
                              <div *ngIf="esRequerido('email')">
                                El correo electronico es un campo obligatorio.
                              </div>
                              <div *ngIf="loginForm.controls['email'].errors.pattern">
                                El correo electronico debe tener un formato valido.
                              </div>
                            </div>
                      </div>
                      <div class="form-group">
                          <mat-form-field class="full-width">
                              <input  matInput
                                      placeholder="Contraseña"
                                      type="password"
                                      id="contrasena"
                                      formControlName = "contrasena">
                          </mat-form-field>
                          <div *ngIf="entradaInvalida('contrasena')" class="alert alert-danger alertas" role="alert" id="alerta1">
                              <div *ngIf="esRequerido('contrasena')">
                                Debes ingresar la contraseña para poder iniciar sesion.
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <button mat-raised-button color="primary" [disabled] = "!loginForm.valid" type="submit">Iniciar sesión</button>
                      </div>
                  </form>
    </div>
  </div>
  <div style="margin-top:0%">
      .
  </div>
      

      



  

    