@import 'variables';

.navbar {
    background-color: #ffff;
    padding: 15px;
    border-bottom: $light-gray-color .1px solid;

    .bwm-search {
      height: 40px;
      width: 300px;
      
    }
  
  
    .navbar-brand {
      margin-right: 30px;
      font-size: 30px;
      letter-spacing: 1px;
      color: $main-color;
      font-weight: 500;
    }
  
  
    .nav-item {
      font-size: 14px;
    }
    .dropdown-item{
      &:active &:focus{
        background-color:red;
      }
    }
  }
.nav-items {
  height: 100%;
  &:hover, &:focus, &:active {
    border-bottom: $main-color .1px solid;

  }
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.nav2 {
  background-color: #ffffff;
}
.sidebar {
  height: 100%;
  max-width: 300px;
}
.nav-links{
  cursor: pointer;
}
