@import 'variables';

#rentalDetails {
  .upper-section {
    img {
      width: 100%;
    }

    margin-bottom: 50px;
  }

  .details-section {
    color: $main-text-color;
    .alquiler {
      &-propietario{

      }
    }
    .rental {
      &-type {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
      }
      &-owner{
        float: right;
        img {
          height: 50px;
          border-radius: 50%;
          display: block;
          margin: 0 auto;
        }
        span{
          display: block;
        }
      }
      &-title {
        margin-bottom: 5px;
        font-size: 32px;
        font-weight: 700;
      }

      &-city {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      &-room-info {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;

        span {
          margin-right: 10px;
        }

        i {
          margin-right: 2px;
        }
      }

      &-description {
        font-weight: 300;
        margin-bottom: 30px;
      }

      &-assets {
        .title {
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 22px;
        }
        span {
          display: block;
          margin-bottom: 15px;
          font-weight: 300;
        }
      }
    }
  }
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color:rgba(0,0,0, 0.5);
  opacity: .8;
}
.spinner {
  margin: 300px auto;
}
.contenedor-principal{
  margin-top: 20px; 
  background-color: #ffffff;
  border-radius: 0%;
}


.booking {
  padding: 20px;
  border-radius: 0%;
  border: 1px solid $light-gray-color;
  .btn-confirm {
    font-size: 17px;
    font-weight: 700;
    padding: 13px;
  }

  label {
    font-size:12px;
    font-weight: 300;
    margin-bottom: 0;
  }

  &-price {
    font-size: 22px;
    font-weight: 700;
  }

  &-per-night {
    font-size: 13px;
    font-weight: 300;
  }

  &-note-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &-note-text {
    font-size: 13px;
    font-weight: 300;
  }
}
.full-width {
  width: 100%;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color:rgba(0,0,0, 0.5);
  opacity: .8;
}
.spinner {
  margin: 300px auto;
}