<mat-accordion class="example-headers-align" *ngIf = "tema == 1">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo busco un alojamiento?
        </mat-panel-title>
        <mat-panel-description>
            Primeros pasos
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      o	Entra a booking.com e indica el destino, las fechas y la cantidad de huéspedes. <br>
      o	Haz clic en Buscar. <br>
      o	Recuerda que tienes la posibilidad de utilizar los filtros disponibles (por ejemplo, el de rango de precios) para acotar los resultados. Haz clic en Más filtros para ver todas las opciones disponibles. <br>
      o	Desplaza el cursor hacia abajo para ver una lista de los anuncios. <br>
      o	Haz clic en un anuncio para abrirlo. Para obtener más información, lee la descripción, las reglas de la casa, comprueba los servicios que ofrece y échale un vistazo a los comentarios que otros huéspedes han publicado sobre el anfitrión. También puedes utilizar una aplicación móvil de lectura de códigos QR para obtener más información sobre la casa o calificación de esta. <br>
      o	Si tienes alguna duda, escríbele al anfitrión. Si ya estás decidido, envíale una solicitud o resérvalo en el momento si tiene activada la función de Reservación inmediata. <br>
        
  
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Destination
        </mat-panel-title>
        <mat-panel-description>
          Primeros pasos
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Day of the trip
        </mat-panel-title>
        <mat-panel-description>
          Primeros pasos
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
  
      <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>
  