<mat-tab-group *ngIf = "tema == 1" class="container" >
      <mat-tab label="Reservar un alojamiento" style="height: 100%;">
        <div class="container">
          <h1>Some tab content</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat deleniti laboriosam fuga! Esse eos iste placeat explicabo sed asperiores cum vitae autem inventore facilis quo quos, nihil natus ut.</p>
      </div>  
      </mat-tab>
      <mat-tab label="Reservar una experiencia">
        <div class="container">
          <h1>Some tab content</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat deleniti laboriosam fuga! Esse eos iste placeat explicabo sed asperiores cum vitae autem inventore facilis quo quos, nihil natus ut.</p>
      </div>
        </mat-tab>
        <mat-tab label="Reservación en un restaurante">
            <div class="container">
                <h1>Some tab content</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat deleniti laboriosam fuga! Esse eos iste placeat explicabo sed asperiores cum vitae autem inventore facilis quo quos, nihil natus ut.</p>
            </div>
            
          </mat-tab>
          <mat-tab label="Requisitos de reservación">
              <div class="container">
                  <h1>Some tab content</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat deleniti laboriosam fuga! Esse eos iste placeat explicabo sed asperiores cum vitae autem inventore facilis quo quos, nihil natus ut.</p>
              </div>
              
            </mat-tab>      
  </mat-tab-group>

  <mat-tab-group *ngIf = "tema == 2">
      <div class="container">
        
      </div>
        <mat-tab label="Pregunta 1">
          <div class="container">
              <h1>Pregunta 1 del tema 2</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat deleniti laboriosam fuga! Esse eos iste placeat explicabo sed asperiores cum vitae autem inventore facilis quo quos, nihil natus ut.</p>
          </div>
          
        </mat-tab>
        <mat-tab label="Pregunta 2">
            <div class="container">
                <h1>Pregunta 2 del tema 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat deleniti laboriosam fuga! Esse eos iste placeat explicabo sed asperiores cum vitae autem inventore facilis quo quos, nihil natus ut.</p>
            </div>
            
          </mat-tab>
    </mat-tab-group>