<mat-accordion class="example-headers-align" *ngIf = "tema == 1">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle class="">
      <mat-expansion-panel-header>
        <mat-panel-title >
          ¿Cómo busco un alojamiento?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
            Primeros pasos
          <mat-icon>question_answer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><mat-icon mat-list-icon>done</mat-icon> Entra a booking.com e indica el destino, las fechas y la cantidad de huéspedes. <br>
      <mat-icon mat-list-icon>done</mat-icon>	Haz clic en Buscar. <br>
      <mat-icon mat-list-icon>done</mat-icon>	Recuerda que tienes la posibilidad de utilizar los filtros disponibles (por ejemplo, el de rango de precios) para acotar los resultados. Haz clic en Más filtros para ver todas las opciones disponibles. <br>
      <mat-icon mat-list-icon>done</mat-icon>	Desplaza el cursor hacia abajo para ver una lista de los anuncios. <br>
      <mat-icon mat-list-icon>done</mat-icon>	Haz clic en un anuncio para abrirlo. Para obtener más información, lee la descripción, las reglas de la casa, comprueba los servicios que ofrece y échale un vistazo a los comentarios que otros huéspedes han publicado sobre el anfitrión. También puedes utilizar una aplicación móvil de lectura de códigos QR para obtener más información sobre la casa o calificación de esta. <br>
      <mat-icon mat-list-icon>done</mat-icon>	Si tienes alguna duda, escríbele al anfitrión. Si ya estás decidido, envíale una solicitud o resérvalo en el momento si tiene activada la función de Reservación inmediata. <br>
    </p>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Puedo ver el alojamiento antes de reservarlo?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Primeros pasos
          <mat-icon>question_answer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> Desde Booking, animamos a todos los huéspedes y anfitriones a que realicen las reservaciones a través de nuestro sitio antes de conocerse en persona, con el fin de garantizar su seguridad y privacidad.
      Hay varias formas de obtener más información sobre el espacio y el anfitrión sin tener que visitar el alojamiento: <br>
      <mat-icon mat-list-icon>done</mat-icon> Mensajes privados <br>
      <mat-icon mat-list-icon>done</mat-icon> Verificaciones del perfil <br>
      <mat-icon mat-list-icon>done</mat-icon> Evaluaciones <br>
      <mat-icon mat-list-icon>done</mat-icon> Fotografías verificadas <br> <br>
      Asimismo, los anfitriones también tienen que incluir información sobre ellos antes de poder aceptar reservaciones a través de la plataforma.
      </p>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo envío una solicitud de reservación?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Primeros pasos
          <mat-icon>question_answer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
      Cuando tengas todo listo para reservar un alojamiento en Airbnb, puedes enviarle una solicitud de reservación al anfitrión. Si no estás seguro acerca del alojamiento o de su disponibilidad, también puedes enviar un mensaje al anfitrión.
      Para enviar una solicitud de reservación: <br>
      <mat-icon mat-list-icon>done</mat-icon> En la página del espacio, haz clic en Solicita una reservación. <br>
      <mat-icon mat-list-icon>done</mat-icon> Si la opción Reservación inmediata está disponible, la reservación quedará confirmada después del paso 4, sin que sea necesario que el anfitrión la autorice. <br>
      <mat-icon mat-list-icon>done</mat-icon> Examina los detalles de la reservación y asegúrate de que todo esté correcto. <br>
      <mat-icon mat-list-icon>done</mat-icon> Indica tu información de pago. Si cuentas con un cupón, debes incluir el código. <br>
      <mat-icon mat-list-icon>done</mat-icon> Acepta las condiciones, lo que incluye la Política de cancelación del anfitrión y las Reglas de la casa. <br>
      <mat-icon mat-list-icon>done</mat-icon> Espera la respuesta del anfitrión. Aunque dispone de hasta 24 horas para responder, la mayoría de los anfitriones suelen hacerlo mucho antes. <br> <br>
      Algunos anfitriones requieren que completes el proceso de Verificación de identidad antes de confirmar una reservación, lo que permite al anfitrión obtener más información acerca de quién está hospedando en su alojamiento. 
      Si acepta tu solicitud, se te cobrará por completo la reservación. Si el anfitrión la rechaza o no responde en 24 horas, no se realizará ningún cargo y podrás reservar otro alojamiento para las mismas fechas.
      </p>
      <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo me pongo en contacto con un anfitrión antes de hacer una reservación?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Primeros pasos
          <mat-icon>question_answer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
      Si deseas contactar un anfitrión antes de realizar la reservación, comunícate con él a través de su correo electrónico proporcionado. <br>
      <strong>Antes de hacer la reservación </strong>  <br>
      Si quieres saber más sobre un espacio, un anfitrión o una experiencia antes de reservar, puedes enviar un correo electrónico al anfitrión a través de su dirección proporcionada. Asegúrate de revisar la página del anuncio o la descripción de la experiencia para aclarar cualquier cosa que necesites del anfitrión.
      </p>
      <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Qué es la llegada sin restricción de horario?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Primeros pasos
          <mat-icon>question_answer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
          Si tu espacio dispone de llegada sin restricción de horario, los huéspedes podrán acceder al alojamiento en cualquier momento a partir de la hora de llegada que hayas establecido mediante unas llaves en una caja de seguridad para llaves, una cerradura inteligente, un teclado o recibiendo la llave de acceso del personal en el edificio, como un portero o algún empleado de la recepción. Si eliges esta última opción, el portero debe estar disponible las 24 horas para que pueda dar acceso a los huéspedes al alojamiento o para entregarles las llaves.
      </p>
      <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo sé si un alojamiento está disponible?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Primeros pasos
          <mat-icon>question_answer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Al buscar un alojamiento en Booking, si indicas tu destino, las fechas de viaje y el número de huéspedes, todos los anuncios que aparezcan en los resultados de búsqueda deberían estar disponibles.
        Aunque recomendamos a los anfitriones que mantengan sus calendarios actualizados, es buena idea comunicarte con él para confirmar que su espacio está disponible. También puedes enviar un mensaje al anfitrión para preguntarle otros detalles acerca de su espacio.
      </p>  
      <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Qué significa el tipo de habitación que aparece en un anuncio?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Primeros pasos
          <mat-icon>question_answer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
      Los anfitriones de Airbnb ofrecen una gran variedad de espacios, que van desde habitaciones compartidas hasta islas privadas.
      Todos los alojamientos se clasifican en tres tipos: <br>
      <mat-icon mat-list-icon>done</mat-icon> Alojamientos enteros <br>
      <mat-icon mat-list-icon>done</mat-icon> Habitaciones privadas <br>
      <mat-icon mat-list-icon>done</mat-icon> Habitaciones compartidas <br> <br>
      <strong>Alojamientos enteros</strong>  <br>
      Si lo que buscas es un hogar fuera de casa, esta es la opción para ti. Si reservas un alojamiento entero, tendrás todo el espacio exclusivamente para ti. Esto suele incluir una habitación, un baño y una cocina. <br>
      <strong>Habitaciones privadas</strong>  <br>
      Este tipo de habitación es ideal si lo que quieres es algo de privacidad, pero sin perderte el contacto con la gente del lugar. Si reservas una habitación privada, compartirás las áreas comunes con otras personas, pero tendrás tu propio espacio para dormir. Quizá tengas que pasar por algunas áreas del alojamiento ocupadas por otro huésped o por el anfitrión para llegar a tu habitación. <br>
      <strong>Habitaciones compartidas</strong> <br>
      Si no te importa compartir los espacios con otras personas, esto es lo que buscas. Si reservas este tipo de habitación, estarás compartiendo todos los espacios de un alojamiento, incluyendo el área de dormir, con otras personas. Las habitaciones compartidas son ideales para viajeros flexibles en busca de hacer amigos y cuidar su presupuesto. <br>
      </p>
      <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="example-headers-align" *ngIf = "tema == 2">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle class="">
      <mat-expansion-panel-header>
        <mat-panel-title >
          ¿Es recomendable hacer una reservación si no he recibido ninguna respuesta del anfitrión?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
            Reservaciones
          <mat-icon>card_travel</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
      Una vez que hayas encontrado el espacio que se adapte a tus necesidades, te recomendamos que te comuniques con el anfitrión para comprobar la disponibilidad del lugar en las fechas en las que vas a viajar. <br> <br>
      <strong>Comunícate con el anfitrión antes de reservar</strong>  <br>  
      A menos que hayas encontrado un espacio con reservación automática tendrás que enviarle una solicitud al anfitrión para que apruebe tu estancia. Es recomendable que le escribas antes de realizarla, ya que así podrá responder a cualquier pregunta que tengas sobre el alojamiento y también podrás confirmar que está disponible. <br>
      Para comunicarte con un anfitrión desde la página del espacio, haz clic en Escribe al anfitrión y plantéale cualquier duda que tengas. La mayoría de anfitriones responde en pocas horas. Ten en cuenta que ambos pueden ubicarse en zonas horarias distintas o que quizás no tenga acceso a Internet en ese momento. <br>
      <strong>El anfitrión no responde</strong> <br>
      Si el anfitrión no responde, intenta comunicarte con otros anfitriones de la zona. ¡Puedes escribirle a tantos anfitriones como quieras! Es su responsabilidad responder en un tiempo razonable; de lo contrario, se arriesgan a perderte como huésped. <br>
      <strong>Envío de más de una solicitud</strong> <br>
      A menos que tengas planeado rentar más de un espacio para las mismas fechas, asegúrate de no enviar más de una solicitud a la vez. De esta forma, no acabarás con varias reservaciones para el mismo periodo. <br>
      <strong>Comunícate con el anfitrión después de hacer la reservación</strong> <br>
      Una vez que hayas reservado puedes acceder a Viajes en booking.com, buscar la reservación y comunicarte con el anfitrión desde ahí. <br>
      </p>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo encuentro mi reservación?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Reservaciones
          <mat-icon>card_travel</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
      Para encontrar una reservación en tu cuenta:
      Desde la aplicación de Booking, ve a Viajes
      Si ya estás de viaje o tienes reservaciones múltiples durante el mismo viaje, es posible que tengas que elegir una fecha diferente.Toca Tu reservación de alojamiento para obtener los datos de la reservación <br>
      Nota: Asegúrate de haber iniciado sesión con la misma cuenta de Airbnb que utilizaste para hacer la reservación. Si reservaste desde la cuenta de un amigo o familiar, deberás iniciar sesión en su cuenta para encontrar la reservación.
      </p>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Puedo ver el alojamiento antes de reservarlo?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Reservaciones
          <mat-icon>card_travel</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
      Desde Booking, animamos a todos los huéspedes y anfitriones a que realicen las reservaciones a través de nuestro sitio antes de conocerse en persona, con el fin de garantizar su seguridad y privacidad.
      Hay varias formas de obtener más información sobre el espacio y el anfitrión sin tener que visitar el alojamiento: <br> 
      <mat-icon mat-list-icon>done</mat-icon> Mensajes privados <br>
      <mat-icon mat-list-icon>done</mat-icon> Verificaciones del perfil <br>
      <mat-icon mat-list-icon>done</mat-icon> Evaluaciones <br>
      <mat-icon mat-list-icon>done</mat-icon> Fotografías verificadas <br> <br>
      Asimismo, los anfitriones también tienen que incluir información sobre ellos antes de poder aceptar reservaciones a través de la plataforma.
      </p>
    <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cuándo se me cobrará la reservación?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Reservaciones
          <mat-icon>card_travel</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
      Cuando envías una solicitud de reservación, tienes que ingresar tus datos de pago. Una vez que el anfitrión la acepte (o al momento de confirmar la estancia si se trata de una Reservación inmediata), realizaremos un cargo en tu forma de pago por el monto total. Para algunas reservaciones, puedes dividir el costo de una reservación en varios pagos. Obtén más información sobre el pago fraccionado.
      No importa si la reservación es dentro de dos días o dos meses: antes de entregar el pago al anfitrión, lo retenemos durante las 24 horas posteriores a tu llegada. Esta retención da tiempo a ambas partes para asegurarse de que todo está como se esperaba. <br>
      <strong>Cambio en tu forma de pago</strong> <br>
      Si solicitas una reservación y el anfitrión no responde, puedes cancelar tu solicitud de reservación y enviar una nueva con una forma de pago diferente.
      Cuando la reservación está confirmada, ya no puedes cambiar tu forma de pago. <br>
     <strong>Reservaciones de larga duración</strong> <br>
      Si haces una reservación de 28 o más noches, te cobraremos el primer mes al momento de confirmarla. Más adelante, el resto de las noches se cobrarán mensualmente.
    </p>
      <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo se determina el precio de una reservación?
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Reservaciones
          <mat-icon>card_travel</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
      El precio total de una reservación de Booking depende de varios factores. Los huéspedes pagan la cantidad total cuando el anfitrión acepta su solicitud. <br>
      <strong>Costos establecidos por el anfitrión:</strong> <br>
      Precio por noche: será el anfitrión quien fije esta cantidad <br>
      Tarifa de limpieza: se trata de una tarifa única que se suma al total de la reservación y que cobran algunos anfitriones para cubrir los gastos de limpieza del alojamiento. <br>
      Tarifa por huéspedes adicionales: se trata de una tarifa única que se suma al total de la reservación y que cobran algunos anfitriones para cubrir otros costos del uso del espacio. <br>
      <strong> Costos establecidos por Booking:</strong> <br>
      Comisión por servicio de Booking: los huéspedes pagarán la cantidad correspondiente en cada reservación para que Booking pueda seguir funcionando y ofreciendo atención al cliente las 24 horas, los 7 días de la semana. <br>
      <strong>Otros costos adicionales que pueden incluirse:</strong> <br>
      Impuesto sobre el Valor Agregado (IVA): impuesto que se aplica a los huéspedes residentes en la Unión Europea, Suiza, Noruega, Islandia, Sudáfrica y Japón (aplicado como JCT o Impuesto sobre el Consumo Japonés).
      Impuestos locales: cualquier impuesto aplicable según la ubicación del alojamiento del anfitrión.
    </p>
      <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Qué debo hacer si falta algo o el alojamiento corresponde con el anuncio? 
        </mat-panel-title>
        <mat-panel-description class="subtitulo">
          Reservaciones
          <mat-icon>card_travel</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
      Si cuando llegues notas que algo falta, está descompuesto o no es lo que esperabas, puedes hacer lo siguiente: <br>
      <strong>Comunícate con tu anfitrión:</strong> darle la oportunidad a tu anfitrión de que arregle el problema es la forma más rápida de obtener lo que necesitas. Entonces podrás seguir con tu reservación como estaba planeado. <br>
      <strong>Contáctanos:</strong> si no puedes ponerte en contacto con el anfitrión o si el anfitrión no responde, puedes pedirle ayuda a Booking. Asegúrate de fotografiar o documentar tu problema, ya que esto nos ayudará a entender lo que estás experimentando.
    </p>
      <mat-action-row>
      </mat-action-row>
      <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="example-headers-align" *ngIf = "tema == 3">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle class="">
    <mat-expansion-panel-header>
      <mat-panel-title >
        ¿Cómo se paga una reservación para una estancia larga?
      </mat-panel-title>
      <mat-panel-description class="subtitulo">
          Pagos
        <mat-icon>payments</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
    Si realizas una reservación para una estancia larga, con una duración de 28 o más noches, te cobraremos el primer mes por adelantado y pagarás el resto de forma periódica todos los meses.
    Por el momento, las reservaciones para estancias largas solo pueden realizarse a través de la versión para computadora. <br>
    <strong>Pago del primer mes por adelantado</strong> <br>
    Una vez que confirmes una reservación para una estancia larga, te cobraremos el importe correspondiente al primer mes por adelantado. Antes de enviárselo al anfitrión, lo retendremos hasta que hayan transcurrido 24 horas posterior a la llegada al alojamiento. <br>
    <strong>Pago del resto de meses</strong> <br>
    Una vez que hayas llegado al alojamiento, te cobraremos el importe correspondiente a cada mes mediante la misma forma de pago que utilizaste para realizar la reservación. Esto quiere decir que no tendrás que hacer un segundo pago hasta aproximadamente un mes después de la fecha de llegada. La tarifa mensual se establece al comienzo de la reservación y queda fija. 
    Puedes consultar el costo total de la reservación y los pagos que has realizado en tu recibo. <br>
    <strong>Política de cancelación</strong> <br>
    La Política de cancelación para estancias largas se aplica de forma automática a todas las reservaciones de 28 noches o más y requiere una notificación de 30 día para su rescisión. <br>
  </p>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Si cancelo, ¿puedo obtener un reembolso total?
      </mat-panel-title>
      <mat-panel-description class="subtitulo">
        Pagos
        <mat-icon>payments</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
    Si cancelas una reservación, la cantidad que se te reembolse vendrá determinada por la política de cancelación de tu anfitrión y la antelación con que canceles dicha reservación. <br>
    Si deseas solicitar una cantidad de reembolso mayor, puedes hacerlo a través de nuestro Centro de resoluciones. Todo reembolso adicional será a discreción de tu anfitrión. <br>
    En circunstancias excepcionales, podrías optar a un reembolso completo si has tenido que cancelar debido a causas de fuerza mayor.
    </p>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Cómo cancelo la reservación que tengo en un alojamiento?
      </mat-panel-title>
      <mat-panel-description class="subtitulo">
        Pagos
        <mat-icon>payments</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
    Puedes cancelar una reservación en cualquier momento antes de viajar o durante tu viaje. Para cancelar una reservación: <br> 
    <mat-icon mat-list-icon>done</mat-icon> Ve a Viajes y elige tu viaje <br>
    <mat-icon mat-list-icon>done</mat-icon> Haz clic en tu reservación de alojamiento <br>
    <mat-icon mat-list-icon>done</mat-icon> Haz clic en Modificar la reservación <br>
    Te llevaremos a una página nueva en la que podrás cambiar o cancelar tu reservación. <br>
    Haz clic en el botón Siguiente en Cancelar la reservación para iniciar el proceso de cancelación. <br>
    Si cancelas, el reembolso que recibas dependerá de la política de cancelación de tu anfitrión. Podrás ver un desglose de tu reembolso antes de que finalices la cancelación. <br>
  </p>
    <mat-action-row>
    </mat-action-row>
    <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿El monto del reembolso se enviará automáticamente?
      </mat-panel-title>
      <mat-panel-description class="subtitulo">
        Pagos
        <mat-icon>payments</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
    Sí. El reembolso correspondiente se enviará de forma automática al método de pago que utilizaste para realizar la reservación. Ten en cuenta que es posible que tu proveedor de pagos tarde hasta 7 días hábiles en depositar el dinero en tu cuenta.
    Si el método de pago ya no es válido, tendrás que ponerte en contacto con tu proveedor.
  </p>
    <mat-action-row>
    </mat-action-row>
    <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>