
<div class="container">
    <h1 class="titulo" style="margin-top:40px;">Preguntas frecuentes</h1>
</div>
<mat-drawer-container class="container" style="height: 1000px">
    <mat-drawer mode="side" class="sidebar col-lg-2"  opened>
        <mat-list role="list">
    <div>
        <mat-list-item class="items" (click) = "setTema(1)">Primeros pasos</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="items" (click) = "setTema(2)">Reservaciones</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="items" (click) = "setTema(3)">Pagos</mat-list-item>
        <mat-divider></mat-divider>
    </div>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content class="content col-lg-10">
        <app-ayuda-lista [tema] = "tema"></app-ayuda-lista>
    </mat-drawer-content>
</mat-drawer-container>






  

