 @import 'variables';
 /* SINGLE CARD STYLES*/
 a {
     &:hover, &:focus{
         text-decoration: none;
     }
 }
 .bwm-card {

    border-radius: 0%;
    margin-bottom: 25px;
    .img {
      border-radius: 0%;
    }
    .card-block {
      padding-top: 8px;


      .card-subtitle {
        margin: 0;
        text-transform: uppercase;
      }
      .card-title {
        color: $main-text-color;
      }


      .card-text {
        color: #7e7e7e;
        margin-bottom: 0;
      }
    }
  }
