<mat-toolbar color="primary" style="margin-top: 20%;">
  <mat-toolbar-row>
    <span>Booking</span>
    <span class="example-spacer"></span>
    <ul class="social_footer_ul">
      <li><a href="#" class="faceb example-icon"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" class="twt example-icon"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" class="inst example-icon"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#" class="yout example-icon"><i class="fab fa-youtube"></i></a></li>
      </ul>
  </mat-toolbar-row>
</mat-toolbar>