/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import './styles/temas/tema1.scss';
@import './styles/temas/tema2.scss';

.tema1{
  @include angular-material-theme($tema1);

}
.tema2{
  @include angular-material-theme($tema2);
}
html, body, p {
    
}
body {
  margin: 0;
}
.titulo {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  font: sans-serif; //cambiar fuente
}
.departamento {
    color: #a72da3;
}

.habitacion {
    color: #d68000;
}

.casa{
    color: #bf1818;
}


.btn-booking {
    background-color: $main-color !important; // #F44336
    border-color: $main-color !important; // #F44336
    color: white !important;
    padding: 15px 30px;
    font-size: 20px;

    &:hover, &:focus, &:active {
        border-color: $main-color !important;
        background-color: $main-color !important;
    }
    
}
.bwm-form {
    color: $main-text-color;
  
    form {
      margin-bottom: 10px;
    }
  
    .alert {
      p {
        margin: 0;
      }
    }
  
    h1 {
      margin-bottom: 30px;
    }
    .image-container {
      position: relative;
  
      img {
        width: 100%;
        border-radius: 0px;
      }
    }
  
  
    .catchphrase {
      text-align: center;
      font-size: 42px;
      position: absolute;
      color: #f1f1f1;
      padding: 40px;
      background-color: rgba(0,0,0, 0.5);
      margin-top: 100px;
      letter-spacing: 1px;
    }
  }

  .puntero {
    cursor: pointer;
  }
  //cambio de tamanio para contenido
._14 {
  font-size: 14px;
  h1, h2, h3, h4, h5 , h6 {
    font-size: 30px;
  }
  p{
    font-size: 14px;
  }
}
._15 {
  font-size: 15px;
  h1, h2, h3, h4, h5 , h6 {
    font-size: 31px;
  }
  p{
    font-size: 15px;
  }
}
._16 {
  font-size: 16px;
  h1, h2, h3, h4, h5 , h6 {
    font-size: 32px;
  }
  p{
    font-size: 16px;
  }
}
._17 {
  font-size: 17px;
  h1, h2, h3, h4, h5 , h6 {
    font-size: 33px;
  }
  p{
    font-size: 17px;
  }
}
._18 {
  font-size: 18px;
  h1, h2, h3, h4, h5 , h6 {
    font-size: 34px;
  }
  p{
    font-size: 18px;
  }
}
._19 {
  font-size: 19px;
  h1, h2, h3, h4, h5 , h6 {
    font-size: 35px;
  }
  p{
    font-size: 19px;
  }
}
._20 {
  font-size: 20px;
  h1, h2, h3, h4, h5 , h6 {
    font-size: 36px;
  }
  p{
    font-size: 20px;
  }
}